# Sensitive files
credentials.json
token.json
*.p12
*.pem
.env
.env.*
!.env.example

# Databases
*.sqlite
*.db

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/
dist/
.npm/
sto-nino-portal-ff9330617656.json
system2/backend/credentials.json
